html,
body {
    margin: 0;
    padding: 0;  
}

* {
    font-family: "Poppins", "Arial", sans-serif;
    box-sizing: border-box;
    font-size: 12px;
}


header {
    display: flex;
    background-color: #c9af98;
    text-transform: uppercase;
    border: none;
    padding-left: 100px;
}

nav > ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav a {
    text-decoration: none;
    color: #1A1A21;
}

nav a:hover {
    border-bottom: 1px solid white;
}

nav li {
    padding-right: 40px;
}


.main-page a {
    font-weight: 700;
}

.main-photo {
    height: 450px;
    background-image: url("../images/R0072942.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-text h1 {
    font-family: "Bauhaus 93";
    font-size: 100px;
    text-transform: uppercase;
    margin:0;
    color: #c9af98;
}

.main-button .see-button {
    background-color: #1A1A21;
    color: #c9af98;
    padding: 12px 50px;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    font-family: "Bauhaus 93";
    cursor: pointer;
}

.main-button {
    display: flex;
    justify-content:space-around;
}

.what-we-offer {
    height: 300px;
    background-color: #c9af98;
    border-bottom: .5px solid grey;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 0 100px;
    
}

.bullets h3 {
    font-family: "Bauhaus 93";
    margin: 0px 2px 10px 0;
    font-size: 20px;
    color: #1A1A21;
}

.bullets ul {
    list-style: none;
    padding-left: 0;
    color: #1A1A21;
}

.bullets i {
    color: #1A1A21;
    padding-right: 15px;
}

.bullets li {
    font-size: 11px;
    margin-bottom: 20px;
    color: #1A1A21;
}

.image img {
    border-radius: 5px;
}

.buckets {
    display: flex;
    padding: 0 100px;
    justify-content:space-between;
    background-color: #363639;
}


.buckets figure {
    background-color: #c9af98;
    border: .5px solid grey;
    width: 200px;
    margin: 50px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buckets h5 {
    color: #1A1A21;
    text-transform: uppercase;
    font-weight: 200;
}

.buckets p {
    color: #1A1A21;
    margin: 0;
    text-align: center;
    font-size: 9px;
    padding: 0 20px;
}

.buckets .read-more-less-button {
    background-color:#1A1A21;
    color: #c9af98;
    font-family: "Bauhaus 93";
    font-size: 8px;
    padding: 6px 15px;
    border-radius: 5px;
    border: none;
    margin: 20px 0;
}

.buckets .circle-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}

.buckets .streets {
    background-image: url("../images/R0072939.JPG");
    background-position: bottom;
}

.buckets .people {
    background-image: url(../images/R0073113.JPG);
    }

.buckets .buildings {
    background-image: url(../images/R0072924.JPG);
}

.buckets .nature-in-the-city {
    background-image: url(../images/013.JPG);
}

.newsletter {
    height: 120px;
    background-color: #343434;
    color:#c9af98;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter h5 {
    text-transform: uppercase;
    font-size: 19px;
    margin: 0;
}

.newsletter-form {
    display: flex;
    justify-content: center;
}

.newsletter-form input,
.newsletter-form button {
    border-radius: 5px;
    border: none;
    font-size: 10px;
    background-color: #c9af98;
}

.newsletter-form input {
    margin-right: 20px;
    padding: 8px 20px;
    width: 257px;
}

.newsletter-form button {
    background-color: #c9af98;
    color: black;
    padding: 0 15px;
}

.slider-container {
    height: 500px;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: #2F3035;
}

.previous-arrow,
.next-arrow
{
    color: #c9af98;
    padding: 20px;
    cursor: pointer;
} 

.previous-arrow: hover,
.next-arrow: hover {
    color: #c9af98;
}

.slider-container i {
    font-size: 35px;
}

.slider li img {
    width: 640px;
    border-radius: 5px;

}

.slider-stage {
    width: 640px;
    overflow-x: hidden;
 
}

.slider {
    list-style: none;
    width: 640px;
    padding:0;
    display: flex;
    position:relative;
   
}

.go-up{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C2C36;
}

.go-up i {
    font-size: 35px;
    cursor: pointer;
    color: #c9af98;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #1A1A21;
    padding: 60px 100px;
}

footer > section {
    width: 200px;
}

.about-me h5 {
    font-weight: 200;
    margin: 0 0 17px ;
    color: #c9af98;
}

.about-me p {
    font-size: 13px;
    line-height: 1.8;
    color: #c9af98;
    margin: 0 0 17px 0;
    width: 400px;
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-media li {
    background-color: #c9af98;
    margin-right: 10px;
    height: 27px;
    width: 27px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

social-media a {
    color: #c9af98;
    text-decoration: none;  
}


.quick-links {
    display: flex;
    width: 470px;
    margin-left: 5px;
    
}

.quick-links ul {
    padding: 0;
    margin: 0 10px 0 0;
    outline-style: none;
    width: 220px;
    list-style: none;
    
}

.quick-links a {
    text-decoration: none;
    color: #c9af98;
    font-size: 13px;
}

.quick-links li {
    border-bottom: .5px solid #c9af98;
    padding: 12px 0;
}

.quick-links ul li: first-child {
    padding-top: 0;
}

.quick-links {
    color: #e3e7e6;
    margin-right: 12px;
}

.copyright {
    background-color:#1A1A21;
    height: 50px;
    color: #c9af98;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.copyright p {
    margin: ;
    font-size: 12px;
}

.nested-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    text-transform: none;
    position: absolute;
    top: 42px;
    width: 200px;
    display: none;
}

.nested-menu li {
    font-size: 9px;
    padding: 10px 15px;
    cursor: pointer;
}

.nested-menu li:hover {
    color: white;
    background-color:#c9af98;
    
}

.additional-paragraph {
    display: none;
}

.form-info {
    text-align: center;
    display: none;
}

.footflex {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-start;
}



